* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  padding: 10px 30px;
  border: 2px solid black 
}

.logo {
  display: flex;
}

.logo img {
  width: 110px;
  height: 70px;
}

.search-bar input {
  padding: 8px 12px;
  border-radius: 8px;
  border: 2px solid lightskyblue;
  background: transparent;
  color: white;
  width: 220px;
  box-shadow: 0 4px 12px rgba(0, 170, 255, 0.6);
  margin-top: 15px;
  margin-left: 50px;
}

nav {
  display: flex;
  gap: 20px;
}

.button {
  background: transparent;
  border: 2px solid lightskyblue;
  color: lightskyblue;
  padding: 8px 18px;
  border-radius: 8px;
  cursor: pointer;
}

.button:hover {
  background: lightskyblue;
  color: white;
}

main {
  background-color: rgb(71, 68, 68);
  background-size: cover;
  background-position: center;
  padding: 40px 0;
}

.cartes {
  width: 250px;
  height: 350px;
  border-radius: 10px;
  transition: transform 0.2s ease;
  display: inline-block;
}

.cartes img {
  width: 100%;
  height: auto;
  display: flex;
}

.cartes:hover {
  transform: scale(1.2);
}

.cartes-row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.top-row {
  justify-content: space-evenly;
}

.bottom-row {
  justify-content: center;
  gap: 300px;
}

.section-title {
  text-align: center;
  font-size: 1.5em;
  color: lightskyblue;
  margin-bottom: 10px;
}

.section-sub {
  text-align: center;
  font-size: 1em;
  color: white;
  margin-bottom: 30px;
}

.heros {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 40px;
  background-color: #000000;
  border-radius: 10px;
  margin: 40px auto;
  width: 80%;
  border: 2px solid black
}

.heros img {
  width: 40%;
  box-shadow: 0 0 20px lightskyblue;
}

.heros-text {
  color: white;
  max-width: 50%;
}

.heros-text h2 {
  color: lightskyblue;
  margin-bottom: 10px;
  font-size: 3em;
}

.heros-text p {
  font-size: 1.5em;
  color: #dddddd;
}

footer {
  text-align: center;
  background-color: #000000;
  color: #dddddd;
  padding: 20px;
  border: 2px solid black
}

footer p {
  width: 400px;
  font-size: larger;
}

.footer_boutton {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  gap: 400px;
  margin-bottom: 50px;
}

footer a {
  color: #00b4d8;
  text-decoration: none;
}

footer .btn_footer {
  background-color: transparent;
  border: 2px solid #00b4d8;
  color: #00b4d8;
  padding: 15px 30px;
  border-radius: 25px;
  cursor: pointer;
}

footer .btn_footer:hover {
  background-color: #00b4d8;
  color: white;
  box-shadow: 0 0 15px #00b4d8;
}

.mode-sombre {
  background-color: white;
  color: black;
}
.boutton-couleur {
  position: fixed;
  width: 80px;
  height: 80px;
  border-radius: 8px;
  bottom: 20px;
  right: -5px;
  background-image: url("logo_mode_sombre.png");
  background-size: cover;
  background-position: center;
  background-color: black;
}
#change_couleur.mode-sombre {
    background-color: white;
}
#section.mode-sombre .heros-text h2{
      color: black;
}
#section.mode-sombre .heros-text p {
    color: black;
}

